
.Logo{
    cursor: pointer;
}
#navbarSupportedContent{
    position: absolute;
    left: 200px;
   
}
.SeccionPerfil{
    border: 0.5px rgb(0,0,0) solid;
    position: relative;
    left: 790px;
    top: -9px;
}
#iniciosesionregistro{
    position: relative;
    left:590px;
    top: 39px;
}

.navbar {
    border: 1px rgb(0,0,0) solid;
}

#ImgPerfil{
    width: 75px; height: 75px;
}
.MenuCategorias{
    border: 1px rgb(0,0,0) solid;
    text-align: center;
    padding :5px;
    font-size: 35 ;
    word-spacing: 30px;
}

h2{
    position: fixed;
    left: 250px;   
}
.container{
    position: fixed;
    left: 10px;
}
.row{
    width: 70%;
}
.card-img-top{
    cursor: pointer;
}
.CuerpoNoticia{
    
}
#Imagen1{
    width: 800px; height: 350px;
    position: relative;
    left: 350px;
}
#Imagen2{
    width: 350px; height: 350px;
}
h1{
    position: relative;
    font-size: xx-large;
    left: 600px;
}
.InfoAutor{
    position: relative;
    left: 400px;
}
.Publicacion-propiedades{
    position: relative;
    right: 150px;
}
.Texto1{
    position: relative;
    bottom: 300px;
    left: 250px;
}
#Imagen2{
    position: relative;
    left: 800px;
}
.Texto2{
    position: relative;
    left: 250px;
}
#Imagen3{
    width: 450px; height: 350px;
    position: relative;
    left: 500px;
}
.video{
    position: relative;
    left: 400px;
}
#Like{
    position: relative;
    width: 25px; height: 25px;
    left: 600px;
    cursor: pointer;
}
#DisLike{
    position: relative;
    width: 25px; height: 25px;
    left: 800px;
    cursor: pointer;
}
.SeccionComentarios{
    position: relative;
    left: 300px;
}