.Logo{
    cursor: pointer;
    
}
#navbarSupportedContent{
    position: fixed;
    left: 200px;
   
}
#iniciosesionregistro{
    position: fixed;
    right:20px;
    bottom: 85.5%;
    text-align: left;
}
.navbar {
    border: 1px rgb(0,0,0) solid;
}
.SeccionPerfil{
    border: 0.5px rgb(0,0,0) solid;
    position: fixed;
    right: 10px;
    top: 5px;
}
#ImgPerfil{
    width: 75px; height: 75px;
}
.MenuCategorias{
    border: 1px rgb(0,0,0) solid;
    text-align: center;
    padding :5px;
    font-size: 35 ;
    word-spacing: 30px;
}

.InfoPerfil{
    position: fixed;
    left: 450px;  
    bottom: 350px;
    font-size: x-large;
}
.container-Perfil{
    position: fixed;
    left: 100px;
    width: 80%;
    height: 70%;
    border: 1px rgb(0,0,0) solid;
}
#ImgPerfilEditar{
    width: 250px; 
    height: 250px;
    position: fixed;
    left: 150px;
}
.Opciones{
    width: 800px;
    height: 50px;
    position: fixed;
    bottom: 200px;
    left: 350px;
    border: 1px rgb(0,0,0) solid;
}
#Editar-Perfil{
    left: 130px;
    position: relative;
    margin: 50px;
}
#Favoritos{
    left:130px;
    position: relative;
    margin: 50px;
}
#Actividad{
    left:130px;
    position: relative;
    margin: 50px;
}
