.Logo{
    cursor: pointer;
    
}
#navbarSupportedContent{
    position: fixed;
    left: 200px;
   
}
#iniciosesionregistro{
    position: fixed;
    right:20px;
    bottom: 85.5%;
    text-align: left;
}
.navbar {
    border: 1px rgb(0,0,0) solid;
}
.SeccionPerfil{
    border: 0.5px rgb(0,0,0) solid;
    position: fixed;
    right: 10px;
    top: 5px;
}
#ImgPerfil{
    width: 75px; height: 75px;
}
.MenuCategorias{
    border: 1px rgb(0,0,0) solid;
    text-align: center;
    padding :5px;
    font-size: 35 ;
    word-spacing: 30px;
}

h2{
    position: fixed;
    left: 250px;   
}
h5{
    position: fixed;
    left: 250px; 
}

.container{
    position: fixed;
    left: 100px;
    width: 100%;
    height: 70%;
    border: 1px rgb(0,0,0) solid;
}
.SeccionRegisto{
    position: fixed;
    left: 150px;
    bottom: 90px;
    width: 60%;
    height: 55%;
    border: 1px rgb(0,0,0) solid;
}
#BotonRegistro{
    position: fixed;
    left: 200px;
    bottom: 100px;
}
div.vertical-line{ 
    width: 1px; /* Line width */ 
    background-color: black; /* Line color */ 
    height: 30%; /* Override in-line if you want specific height. */ 
    position: fixed;
    left: 450px;
    top: 300px;

}

li{
    font-size: 150%;
    list-style: none;
}

.PorqueRegistrate{
    position: fixed;
    left: 35%;
    bottom: 25%;
  
}
.InfoPorqueRegistro{
    font-size: small;
}