.Logo{
    cursor: pointer;
    
}
#navbarSupportedContent{
    position: fixed;
    left: 200px;
   
}
#iniciosesionregistro{
    position: fixed;
    right:20px;
    bottom: 85.5%;
    text-align: left;
}
.navbar {
    border: 1px rgb(0,0,0) solid;
}
.SeccionPerfil{
    border: 0.5px rgb(0,0,0) solid;
    position: fixed;
    right: 10px;
    top: 5px;
}
#ImgPerfil{
    width: 75px; height: 75px;
}
.MenuCategorias{
    border: 1px rgb(0,0,0) solid;
    text-align: center;
    padding :5px;
    font-size: 35 ;
    word-spacing: 30px;
}

h2{
    position: fixed;
    left: 250px;   
}
.container{
    position: fixed;
    left: 10px;
}
.row{
    width: 70%;
}
.card-img-top{
    cursor: pointer;
}
